XSD/documents.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="library">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="documents">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="document">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="title" type="xs:string" />
                    <xs:element maxOccurs="unbounded" name="author" type="xs:string" />
                    <xs:element name="year" type="xs:string" />
                    <xs:element minOccurs="0" name="edition" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="type" type="xs:string" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>